body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}
.error-message {
    width:20rem;
    font-size: 18px;
    color: #da1e37;
    background: #fbc3bc;
    text-align: center;
    padding: 1rem 2rem;
    margin:1rem;
    border-radius:1rem
}

.error-message img{
  position:absolute;
  top:30px;
  left:25px;
  width:8%;
  margin:2px
}

.color-checker {
    padding: 1rem;
    width: 21rem;
    margin: 0 auto;
    max-height: fit-content;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    font-weight:400;
    margin-bottom: 1rem;
}
/* Blob button */

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .buttons {
    margin-top: 50px;
    text-align: center;
    border-radius: 30px;
  }
  
  .blob-btn {
    position: relative;
    z-index: 1;
    padding: 20px 46px;
    text-align: center;
    text-transform: uppercase;
    color: #25a18e;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    outline: none;
    border: none;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 30px;
  }
  
  .blob-btn:before {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #25a18e;
    border-radius: 30px;
  }
  
  .blob-btn:after {
    content: "";
    z-index: -2;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 100%;
    height: 100%;
    transition: all 0.3s 0.2s;
    border-radius: 30px;
  }
  
  .blob-btn:hover {
    color: #FFFFFF;
    border-radius: 30px;
  }
  .blob-btn:hover:before {
    border:none;
}
  
  .blob-btn:hover:after {
    transition: all 0.3s;
    left: 0;
    top: 0;
    border-radius: 30px;
  }
  
  .blob-btn__inner {
    z-index: -1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: #ffffff;
  }
  
  .blob-btn__blobs {
    position: relative;
    display: block;
    height: 100%;
    filter: url('#goo');
  }
  
  .blob-btn__blob {
    position: absolute;
    top: 2px;
    width: calc(100% / 4);
    height: 100%;
    background: #25a18e;
    border-radius: 100%;
    transform: translate3d(0, 150%, 0) scale(1.7);
    transition: transform 0.45s;
  }
  
  .blob-btn__blob:nth-child(1) {
    left: 0%;
    background: #ffdd57; 
    transition-delay: 0s;
}

.blob-btn__blob:nth-child(2) {
    left: 25%;
    background: #6faeff; 
    transition-delay: 0.08s;
}

.blob-btn__blob:nth-child(3) {
    left: 50%;
    background: #ff6f61; 
    transition-delay: 0.16s;
}

.blob-btn__blob:nth-child(4) {
    left: 75%;
    background: #63e6be; 
    transition-delay: 0.24s;
}

  
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.7);
  }
  
svg {
    position: absolute;
    width: 0;
    height: 0;
}

.results {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.result-item {
    padding: 5px;
    margin:5px 0;
    width: 150px; 
    background-color: white;
    border-radius: 0.375rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.result-item p{
    margin:4px;
}

.result-text {
    font-size: 1rem;
    font-weight: 600;
    color: #4a5568; 
}

.color {
    display: inline-block;
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    margin: 0 5px;
    border: 2px solid #bfc0c0;
    position: relative; 
    transition: transform 0.3s ease; 
    cursor: pointer;
}

.color-text {
    visibility: hidden; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: inherit; 
    font-size: 11px;
}
.color:hover{
    transform: scale(1.1);
}
.color:hover .color-text {
    visibility: visible; 
}

.contrast-value {
    font-size: 12px;
    text-align: center;
}


.contrast-status {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem 0;
}

.stars {
    font-size: 1rem; 
    color: gold; 
    display: inline-block;
    margin-top: 0.5rem;
    border: none
}

.pass {
    color: #4caf50; 
}

.fail {
    color: #f44336;
}


